h1,
h2 {
    font-family: 'Playfair Display SC', serif;
    font-weight: 300;
    margin-right: 35px;
    margin-left: 35px;
}

h1 {
    font-size: 50px;
    margin-top: 40px;

    @media(max-width: 1185px) {
        font-size: 43px;
    }

    @media(max-width: 768px) {
        font-size: 32px;
    }

}

h2 {
    font-size: 34px;

    @media(max-width: 1185px) {
        font-size: 30px;
    }

    @media(max-width: 768px) {
        font-size: 26px;
    }

}